**/__pycache__/*
.idea/
logs/
plugins/

**/.DS_Store
.vscode
dags/data/
dags/results/

dags/scripts/emulator_dag/EMULATOR_*.json
dags/scripts/emulator_dag/db_emulator.json
dags/scripts/dtwin_dag/DTWIN_*.json
dags/scripts/dtwin_dag/Log_folder/DTWIN_*.json
dags/scripts/controller_dag/CONTROL_design.json
dags/scripts/controller_dag/CONTROL_state.json
**/db_output.json
**/*.csv